# MPI 2d acoustic reverse-time migration configuration file

# Modelling parameters
freesurface = "false"; # True if free surface should be on
order = "8"; # Order of finite difference stencil
lpml = "8"; # Size of pml absorbing boundary (should be larger than order + 5 )
snapinc = "1"; # Snap interval in multiples of modelling interval
apertx = "900"; # Aperture for local model (source is in the middle)

# Checkpointing parameters
snapmethod = "1";  
nsnaps = "11";
incore = "true";

#Fwi parameters
misfit_type = "0";

# Files
Vp = "Vp2d_pert.rss";
Rho = "Rho2d_pert.rss";
Wavelet = "../../Models/Wav2d.rss";
Precordfile = "Results/Pshot.rss";
Presidualfile = "Results/Pres.rss";
Pmodelledfile = "Results/Pmod.rss";
Vpgradfile = "Results/Vpgrad2d.rss";
Rhogradfile = "Results/Rhograd2d.rss";
Wavgradfile = "Results/Wavgrad2d.rss";
Psnapfile = "Psnaps.rss";
